
@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}

@section css{ 

}

@section js{ 
    <script src="~/views/CadastrarUsuario/index.js"></script>
}

<div class="container">
    <br />
    <h1>Cadastro</h1>
    <br />
    <form>
        <div class="form-row">
            <div class="col-4">
                <label>Nome :</label><br />
                <input type="text" id="nomeUsu" class="form-control" placeholder="Ex: Maria" />
                <div id="divMsgNome"></div>
                <br />
            </div>
            <div class="col-4">
                <label>Sobrenome :</label><br />
                <input type="text" id="sobrenomeUsu" class="form-control" placeholder="Ex: Da Silva" />
                <div id="divMsgSobrenome"></div>
                <br />
            </div>
            <div class="col-3">
                <label>CPF :</label><br />
                <input type="text" id="CPFUsu" class="form-control" placeholder="Ex: 000.000.000-00" />
                <div id="divCPF"></div>
                <br />
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <label>Endereço: </label>
                <input type="text" id="enderecoUsu" class="form-control" placeholder="Endereço" />
                <div id="divEndereco"></div>
            </div>
            <div class="col-3">
                <label>CEP :</label>
                <input type="text" id="cepUsu" class="form-control" placeholder="ex:19000-00" />
                <div id="divCep"></div>
            </div>
            <div class="col-3">
                <label>Telefone :</label>
                <input type="text" id="TelefoneUsu" class="form-control" placeholder="ex:19000-00" />
                <div id="divTelefone"></div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-3">
                <label>Estado</label>
                <select id="estadosUF" class="form-control" onchange="index.buscarCidades(this.value)">
                </select>
            </div>
            <div class="col-6">
                <label>Cidade</label>
                <select id="selCidade" class="form-control">
                </select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-11">
                <label>Observação: </label>
                <textarea id="observacaoUsu" class="form-control"></textarea>
            </div>
        </div>
        <br />
        <hr /><hr />
        <h1>Login</h1>
        <br />
        <div class="form-row">
            <div class="col-6">
                <label>E-mail:</label>
                <input type="text" id="emailUsu" class="form-control" placeholder="example@email.com" />
                <div id="divEmail"></div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-6">
                <label>Senha: </label>
                <input type="password" id="senhaUsu" class="form-control" />
                <div id="divSenha"></div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-6">
                <label>Confirmar Senha: </label>
                <input type="password" id="senhaconfirmacaoUsu" class="form-control" />
                <div id="divconfirmacaoSenha"></div>
            </div>
        </div>
        <br />
        <div id="divMsg" class="form-row justify-content-center"></div>
        <div class="form-row justify-content-center">
            <input type="button" class="btn btn-outline-success" value="Criar seu cadastro" onclick="index.btnCadastrar()" />
        </div>
    </form>
</div>