
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutModal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("css", false)

</head>
<body>
    <main id="main" class="d-flex align-items-center flex-column">
        <h2 class="mt-4 mb-5">@ViewData["Title"]</h2>
        @RenderBody()
    </main>

    @RenderSection("js",false)
</body>
</html>
