
@{
    ViewData["Title"] = "IndexListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js {
    <script src="~/views/CadastrarUsuario/IndexListar.js"></script>
}

<div class="d-flex flex-column">
    <h1 class="p-md-5">Listagem de Usuários</h1>
    <h3 class="p-md-5">Utilize o formulário abaixo para pesquisar usuários</h3>
    <form class="container">
        <input type="search" id="usuario" placeholder="Nome de Usuário" class="col-md-6 form-control" />
        <br />
        <div class="text-left">
            <input type="button" class="btn btn-outline-primary" value="Pesquisar" onclick="indexListar.btnPesquisarOnClick()" />
        </div>
        <div id="divMsg"></div>
    </form>
</div>


