
@{
    ViewData["Title"] = "IndexListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js {
    <script src="~/views/CadastrarUsuario/IndexListar.js"></script>
}

<div class="d-flex flex-column">
    <h1 class="p-md-5">Listagem de Usuários</h1>
    <h3 class="p-md-5">Utilize o formulário abaixo para pesquisar usuários</h3>
    <form class="container">
        <input type="search" id="usuario" placeholder="Nome de Usuário" class="col-md-6 form-control" />
        <br />
        <div class="text-left">
            <input id="btnPesquisar" type="button" class="btn btn-outline-primary" value="Pesquisar" onclick="indexListar.btnPesquisarOnClick()" />
        </div>
        <div id="divMsg"></div>
        <br />
        <br />
        <table class="table" id="tbUsuarios" style="display:none">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="tbodyUsuarios">
                <!--AJAX-->
            </tbody>
        </table>
    </form>
</div>


