
@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastrar Produto";
}

@section css{
    <link href="~/views/Login/index.css" rel="stylesheet" />
}

@section js{
    <script src="~/views/Login/index.js"></script>
}

<div class="d-flex flex-column">
    <h1 class="p-md-5">Autenticação</h1>
    <form class="container">
        <label>Login:</label><br />
        <input type="email" id="emailLog" class="col-md-4 form-control" />
        <br />
        <label>Senha:</label>
        <input type="password" id="senhaLog" class="col-md-4 form-control" />
        <br />
        <div class="text-left">
            <input type="button" class="btn btn-outline-primary" value="Entrar" onclick="index.btnLogarOnClick()" />
        </div>
        <br />
        <div>
            <p>Ainda não possui cadastro? <a href="~/CadastrarUsuario">Cadastre-se Agora</a></p>
        </div>
        <div id="divMsg"></div>
    </form>
</div>


