@{
    Layout=@"~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@section js{ 
    <script src="~/views/Home/index.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Produtos </h1>
    <div class="container">
        <div class="row" id="produtos">
        </div>
    </div>
</div>
